body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header h1 {
    text-align: center;
    margin: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

#fractalCanvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1; 
    transform: translateX(3cm);
}

#fractalCanvas {
    width: 60%;
    height: 60%;
}

#writing-section-container {
    position: relative;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    position: absolute;
    z-index: 1;
    text-align: center;
}

#writing-section-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#writing-section-container ul {
    list-style: none;
    padding: 0;
}

#writing-section-container li {
    margin: 10px 0;
}

#writing-section-container a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#writing-section-container a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin: 20px 0;
}
